*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --color-primary: #6c63ff;
    --color-success:#00bf8e;
    --color-warm:#f7c94b;
    --color-danger:#f75842;
    --color-danger-variant:rgba(247,88,66,0.4);
    --color-white:#fff;
    --color-light:rgba(255,255,255,.7);
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;
    
    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;
    
    --transition: .5s ease-in-out;
}
header{
    background-color: var(--color-bg2);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-bg2);
    height: 20vh;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    transition: var(--transition);
}
.logo h2{
    font-size: 2.5rem;
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.logo h2:hover{
    color: var(--color-bg1);
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 40rem;
}
nav a{
    color: var(--color-white);
    font-size:  1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 30px;
    transition: .5s ease-in-out;
}
nav a:hover{
    color: var(--color-primary);
}

nav .hamburger{
    /* background-color: red; */
    height: 2rem;
    width: 2.5rem;
    display: none;
}
nav .hamburger >.bar{
    background-color: var(--color-white);
    height: .5rem;
    width: 100%;
    margin: 6px 0;
    border-radius: 3px;
}
.btn{
    padding: 2rem;
    transition: var(--transition);
    border: 2px transparent;
    color: var(--color-white);
    background-color: var(--color-danger);
    width: 250px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--color-light);
    color: var(--color-success);
}
.hero{
    height: 60vh;
    width: 80%;
    margin: 0 auto;
   }
.hero__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.hero__section .right_hero{
    background-image: url("img/-507234397.jpg");
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero .left_hero__section>h1{
    font-size: 3rem;
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}
.hero .left_hero__section>p{
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 20px;
    font-family:'Montserrat', sans-serif;
}
.hero .left_hero__section .btn{
    margin: 50px 20px 20px 20px;
}

.nav_scroll{
    background-color: var(--color-bg1);
    transition: var(--transition);
}
.main__body{
    background-color: var(--color-bg2);
    height: 80vh;
    width: 100%;
}
.categories{
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.left__side h1{
    font-size: 3.5rem;
    color: var(--color-white);
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.left__side p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 3rem;
    color: var(--color-white);
    font-weight: 1rem;
}
.right__side{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 350px);
    align-items: center;
    justify-content: center;

}.right__side h2{
    font-size: 2rem;
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;

}
.right__side p{
    font-size: 1.3rem;
    margin-right: 2rem;
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
}
.container{
    /* background-color: red; */
    margin: 0 auto;
    padding: 2rem;
}
.material-symbols-outlined{
    padding: 1rem; 
    color: white;
    border-radius: 2rem;
    background-color: var(--color-bg1);
    justify-self: flex-start;
}
.popular__courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg1);
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.popular__courses h2{
    font-size: 3rem;
    color: var(--color-white);
    margin: 3rem 0;
}
.popular__courses h1{
    font-size: 2rem;
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    margin-top: 5rem;
}
.main__popular__courses{
    height: 90%;
    width: 78%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    /* gap: .5rem; */
}
.first_popular__course{
    width: 80%;
    height: 90%;
    background-size: cover;
    border: transparent;
    line-height: 1rem;
    background-color: var(--color-bg2);
    padding: 1rem;
    border-radius: 10px;
    
}
.first_popular__course img{
    height: 20rem;
    width: 100%;
    border: transparent;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 1rem;
}
h4{
    font-size: 1.6rem;
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
    line-height: 2.3rem;
}
p{
    font-size: 1.3rem;
    color: white;
    margin: 1.5rem 0;
    line-height: 1.5rem;
}
.card{
    width: 88%;
    height: 98%;
    background-size: cover;
    border: transparent;
    line-height: 1rem;
    background-color: var(--color-bg2);
    padding: 2rem;
    border-radius: 10px;
}
.popular_img{
    height: 20rem;
    width: 100%;
    border: transparent;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 1rem;
}
.question{
    height: 100%;
    width: 100%;
    background-color: var(--color-bg2);
    text-align: center;
    margin: 0 auto;
}
.question>h2{
    font-size: 3rem;
    color: var(--color-white);
    padding-top: 3rem;
}
.frequent__questions{
    display: grid;
    grid-template-columns:repeat(2, 720px);
    grid-template-rows: repeat(4, 150px);
    align-items: center;
    justify-content: center;
    padding: 7rem;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    gap: 2rem;
}
.general__card{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5rem;
    background-color: var(--color-bg1);
    border: transparent;
    border-radius: .8rem;
}
.general__card:hover{
    background-color: var(--color-bg2);
    cursor: pointer;
}

h3{
    color: var(--color-white);
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
.card .btn{
    margin: 2rem;
}
.plus-icon{
    background-color: var(--color-bg2);
    height: 2rem;
    width: 2rem;
    position: relative;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    height: 1.5rem;
    width: .2rem;
    background-color: var(--color-bg1);
    position: absolute;
}
.bar-1{
    transform: rotate(90deg);
    display: block;
    background-color: var(--color-bg1);
}
.bar-2{
    display: block;
    /* background-color: red; */
}
.faq{
    background-color: var(--color-bg2);
    width: 100%;
    height: 100vh;
}
.faq__container{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: red;
}

.faq h2{
    font-size: 2.5rem;
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    padding-top: 3rem;
    text-align: center;
}
.faq__menu{
    height: 10rem;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

.faq__list{
    display: flex;
    width: 55rem;
    background-color: var(--color-bg1);
    border-radius: .5rem;
    border: transparent;
    gap: 5rem;
    height: 10rem;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: var(--transition);
}
.faq__list:hover{
    background-color: var(--color-bg2);
}
.faq__content{
    text-align: center;
}
.faq__content p{
    display: none;
    margin: 1rem;
}
.faq__menu.open p{
    display: block;

}
.testimonials__container {
    overflow-x: hidden;
    width: 100%;
    background-color: var(--color-bg1);
    position: relative;
    margin-bottom: 5rem;
}
.testimonial {
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    position: relative;
}
.avatar{
    margin: 0 auto 1rem;
    overflow: hidden;
}
.avatar img{
    width: 6rem;
    height: 6rem;
    border-radius: 1000%;
    position: absolute;
    left: 50%;
    margin: 2rem;
    border: solid var(--color-bg2) 1rem;
}
